/*global style*/
:root {
  --main-font: sans-serif;
  --main-bg-color: rgba(221, 221, 221, 0.815);
  --primary-blue: rgb(25, 25, 112, 0.4);
  --primary-brown: rgb(205, 133, 63, 0.4);
  font-family: 'Permanent Marker', cursive;
}

/* Main background style */
body {
  background-image: url(./img/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  padding: 0;
  margin: 0;
}

.main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: var(--main-bg-color);
}

.game-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.player-container {
  background-color: var(--primary-brown);
  border-radius: 10px;
  margin: 20px;
  width: 400px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.computer-container {
  background-color: var(--primary-brown);
  border-radius: 10px;
  margin: 20px;
  width: 400px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: rgb(0, 0, 0);
  text-align: center;
}

button {
  background-color: var(--primary-blue);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
